<!DOCTYPE html>
<html>

<head>
    <title>Tugas Kecil 3 Strategi Algoritma</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="sidenav">
        <div class="logo">
            <h1 id="logoName">JalanBenar</h1>
            <p id="logoTag">Ini bukan jalan salah</p>
        </div>
        <div>
            <div class="buttonContainer">
                <button class="programButton" id="addNodeBtn">Add Node</button>
            </div>
            <div class="buttonContainer">
                <button class="programButton" id="addEdgeBtn">Add Edge</button>
            </div>
            <div class="buttonContainer">
                <button class="programButton" id="runAStarBtn" disabled>Run A*</button>
            </div>
        </div>
        <div class="footer">
            <p id="infoCreator" style="font-weight:bold">Created by</p>
            <p id="infoCreator" style="font-size: 14px">Dion Saputra (13516045)</p>
            <p id="infoCreator" style="font-size: 14px">Luthfi Ahmad MH (13516051)</p>
        </div>
    </div>

    <div id="googleMap"></div>

    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBny1vA7TRIfBdx80f-UdGaMzg80WrLf6E&callback=initMap"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</body>

</html>